# Raw datasets
datasets/
data/raw/

# Generated outputs
data/processed/
data/curated/

# Models
ml/models/
*.pkl

# Python
__pycache__/
*.pyc

# Environment
.env
.venv
.vscode/settings.json

# logs
monitoring/logs/
ingestion_report.json
data/data_catalog.json